/* General Styling */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
  }
  
  h1 {
    text-align: center;
    color: #070f43;
    margin-top: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  form {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #9a8c98;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  /* Form Fieldset Styling */
  fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #c9ada7;
    border-radius: 12px;
    background-color: #fff;
  }
  
  legend {
    font-weight: bold;
    color: #11648a;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 8px;
    background: #1b2fe8;
    color: white;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: calc(100% - 10px);
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #030739;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    background: transparent;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #0d13ab;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #02082d;
  }
  
  /* display generated resume */
  #resume-display {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    outline: none;
    
  }
  
  #resume-box {
    display: flex;
    max-width: 900px;
    background-color: rgba(255, 166, 0, 0.073);
    height: auto;
  }
  
  #left-section {
    width: 30%;
    background-color: #06105e;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  
  /* profile image box */
  .profile-image {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .profile-image > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid rgb(1, 3, 16);
  }
  
  .skill,
  .hobby,
  .contact {
    padding-left: 10px;
  }
  
  .skill > h3,
  .hobby > h3,
  .contact > h3 {
    font-size: 24px;
  }
  
  .contact > p > b {
    text-decoration: underline;
    color: rgb(1, 153, 255);
  }
  
  #right-section {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  #right-section > .name {
    margin-top: 50px;
    background-color: #06105e;
    height: 80px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #right-section > .name > h1 {
    color: white;
    font-size: 40px;
    font-family: math;
  }
  
  .education > h3,
  .experience > h3,
  .career-objective > h3 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .education,
  .experience,
  .career-objective {
    padding-left: 20px;
  }
  
  .education > ul > li,
  .experience > p,
  .career-objective > p {
    font-size: 20px;
  }
  
  @media (max-width: 780px) {
    .profile-image > img {
      width: 150px;
      height: 150px;
    }
  }
  
  @media (max-width: 600px) {
    .profile-image > img {
      width: 120px;
      height: 120px;
    }
    .profile-image {
      margin-left: -20px;
    }
    .skill,
    .hobby,
    .contact {
      margin-left: -20px;
    }
  }
  
  @media (max-width: 480px) {
    .profile-image > img {
      width: 100px;
      height: 100px;
    }
    .skill > h3,
    .hobby > h3,
    .contact > h3 {
      font-size: 20px;
    }
    .skill > ul,
    .hobby > ul,
    .contact > p {
      font-size: 12px;
    }
  
    .skill > ul,
    .hobby > ul {
      list-style-position: unset;
    }
  
    #right-section > .name {
      width: auto;
    }
    #right-section > .name > h1 {
      font-size: 30px;
    }
    .education > h3,
    .experience > h3,
    .career-objective > h3 {
      font-size: 20px;
    }
    .education > ul > li,
    .experience > p,
    .career-objective > p {
      font-size: 15px;
    }
  }
  
  @media (max-width: 300px) {
    .profile-image > img {
      width: 80px;
      height: 80px;
    }
    .skill > h3,
    .hobby > h3,
    .contact > h3 {
      font-size: 15px;
    }
    .skill > ul,
    .hobby > ul,
    .contact > p {
      font-size: 10px;
    }
    .skill > ul,
    .hobby > ul {
      margin-left: 5px;
      padding-left: 10px;
      list-style-position: inside;
    }
    #right-section > .name > h1 {
      font-size: 20px;
    }
    .education > h3,
    .experience > h3,
    .career-objective > h3 {
      font-size: 18px;
    }
    .education > ul > li,
    .experience > p,
    .career-objective > p {
      font-size: 12px;
    }
    .education > ul {
      margin-left: 5px;
      padding-left: 10px;
      list-style-position: inside;
    }
  }
  
  @media (max-width: 200px) {
    .profile-image > img {
      width: 60px;
      height: 60px;
    }
    .skill,
    .hobby,
    .contact {
      padding-left: -10px;
    }
  }
  